/* pour les titre */

#style {
  color: #08a1ee;
  font-size: 30px;
  font-style: italic;
  letter-spacing: .2rem;
}
p3 {
  font-family: "Montserrat", sans-serif;
  color: #f11e88;
} 
p5 {
  color: #63e9b8;
  font-size: 0px;
}

p8 {
  color: #2699d3;
  font-size: 40px;

  
}

b {
  color: #d9249d;
  font-size: 25px;
}
p9 {
  color: #dc832f;
  font-size: 20px;
}
p {
  color: rgb(13, 128, 230);
}
/* pour les titres */
.section-title {
  text-align: center;
  padding-bottom: 30px;
}

#buttons-container {
  /* pour les buttons cv in contact me */
  text-align: center;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

#buttons-container button {
  margin: 0.6em 0em;
}
/* pour les boutons mobile*/
button {
  display: inline-block;
  margin: 0px 70px;
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 17px;
  padding: 20px 50px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  transition: 0.3s ease;
  -webkit-transition: all 0.3s;
}

/* pour mettre des marge gauche droite competence parcour réalisation mobile*/
.outer-container {
  max-width: 1350px;
  margin: 40px;
  /* toi tu me fais chier, ok pour le desktop mais pas mobile !!! */
}

/* pour les icones partie rouge et les etoiles competence*/
.space-between {
  text-align: justify;
  font-size: 20px;
}
.space-between:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.space-between .item {
  display: inline-block;
}

/* pour que la partie home couvert tout le desktop ou mobile */
.parallax-outer {
  height: 100vh;
}

/* MENU DESKTOP*/
nav {
  position: fixed;
  z-index: 9999;
  padding: 15px 0px;
  background: rgba(0, 0, 0, 0.3); /* effet transparent */
  width: 100%;
}
/* items dans nav sur la droite */
nav ul {
  width: 1200px;
  text-align: right;
  margin: auto;
}
nav li {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  padding-left: 40px;
  cursor: pointer;
}
nav li a {
  color: #ffb8b8 !important;
  text-decoration: none !important;
}
/* end menu desktop*/

/* fond pour réalisation et compétence */
section.grey {
  background-color: #ebebeb;
}

/* pour centre les blocs competences */
.center .c-item {
  display: table-cell;
  vertical-align: middle;
}

/* pour la partie rouge home */
.parallax {
  /* background-color: darkred; */
  background-image: url(../Images/fond-cv-vierge-13.jpeg);
  height: 100%;
  position: relative;
  background-attachment: fixed;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

/* je m'appelle Adeline et je suis */
p1 {
  color: rgb(219, 193, 193);
}
/* pour le texte zone rouge */
#header-text {
  font-size: 30px;
  line-height: 1.5em;
  margin-top: 0px;
  margin-bottom: 40px;
  color: #f0e2e2;
}
/* pour les icones */
.skill-box {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  text-align: center;
}
.skill-box i {
  display: block;
  font-size: 40px;
  margin-bottom: 25px;
  transition: 0.3s ease;
  -webkit-transition: all 0.3s;
}
.skill-box i:hover {
  transition: 0.3s ease;
  -webkit-transition: all 0.3s;
}

.skill-box .fa-code:hover {
  color: #9b59b6;
}
.skill-box .fa-gear:hover {
  color: #56595c;
}
.skill-box .fa-database:hover {
  color: #3498db;
}
.skill-box .fa-mobile-alt:hover {
  color: #e74c3c;
}
.skill-box .fa-pencil-ruler:hover {
  color: #2ecc71;
}
.skill-box .fa-globe:hover {
  color: #f1c40f;
}

/* SKILLS pour le responsive*/

#skills {
  overflow: hidden;
}

#skills .skill {
  margin-bottom: 40px;
}

#skills .skill .c-item.content {
  padding: 25px 40px 0px;
  font-size: 16px;
  background-color: white;
  line-height: 26px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  width: 65%;
}

#skills .c-item.icon {
  font-size: 140px;
  width: 27%;
  text-align: center;
}

#skills .front {
  color: #9b59b6;
}
#skills .back {
  color: #3498db;
}
#skills .cms {
  color: #e67e22;
}
#skills .design {
  color: #2ecc71;
}
#skills .env {
  color: #95a5a6;
}

#skills h4 {
  font-size: 22px;
  margin-bottom: 10px;
}

#skills .content .item.desc {
  margin-bottom: 20px;
}

#skills .content .item.desc.end {
  margin-bottom: 30px;
  line-height: 35px;
}

#skills .content .item.desc.end i {
  width: 25px;
}

#skills .content .el {
  line-height: 30px;
}

#skills .space-between {
  margin-bottom: -13px;
}

#skills .space-between .item {
  vertical-align: top;
}

#skills .space-between .item.names {
  font-weight: 500;
}

#skills #front-end .space-between .item.stars {
  color: #9b59b6;
}

#skills #back-end .space-between .item.stars {
  color: #3498db;
}

#skills #cms .space-between .item.stars {
  color: #e67e22;
}

#skills #web-design .space-between .item.stars {
  color: #2ecc71;
}
/* end skills responsive */

/* Qui je suis */
/* pour ma tete reste derriere mon avatar */
.img-container {
  position: relative;
}
.img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  width: 100%;
  height: 100%;
}
.img-container:hover .img-overlay {
  opacity: 1;
}

.align {
  
    text-align: center;
    line-height: 3em;
    
}





/* pour les button in cv contact me */
button#cont {
  background-color: #3fa8fd;
  border-radius: 20px;
}
button#cv {
  background-color: #2fdc9c;
  border-radius: 20px;
}

.align{
  justify-content: center;
}
/* end qui je suis */

/* Parcours */

#timeline {
  position: relative;
  max-width: 100%;
  margin-left: 0 auto;
  margin-top: 40px;
  animation-delay: 0.5s;
}

#timeline::after {
  content: "";
  position: absolute;
  width: 5px;
  background-color: #ebebeb;
  top: 0;
  bottom: 0;
  left: 190px;
}

.event {
  position: relative;
  width: inherit;
}

.event .left {
  position: absolute;
  top: calc(50% - 30px);
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  line-height: 20px;
  width: 132px;
}

.event h3 {
  padding-bottom: 10px;
}

.event .place {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 500;
  padding-bottom: 25px;
}

.event h3 i {
  width: 45px;
}

.event.work h3 {
  color: #3498db;
}
.event.exp h3 {
  color: #e67e22;
}
.event.school h3 {
  color: #2ecc71;
}

.event .right {
  padding: 20px 0px 40px;
  position: relative;
  background-color: inherit;
  margin-left: 290px;
}

.event .right::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #ebebeb;
  top: calc(50% - 12px);
  border-radius: 50%;
  z-index: 1;
}

.event .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: calc(50% - 10px);
  width: 0;
  z-index: 1;
  left: -10px;
  border: medium solid #ebebeb;
  border-width: 10px 10px 10px 0;
  border-color: transparent #ebebeb transparent transparent;
}

.event .right::after {
  left: -110px;
}

.event .right .content {
  padding: 30px 40px 20px 40px;
  font-size: 16px;
  background-color: #ebebeb;
  position: relative;
  line-height: 26px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
}

#timeline .event .right .date {
  display: none;
  text-align: left;
  padding-bottom: 5px;
  font-family: "Montserrat", sans-serif;
}

#experience li {
  padding-bottom: 10px;
}

#experience li:before {
  content: "●";
  padding-right: 10px;
}
/* end parcours */

/* MOBILE MENU MOBILE que je peux pas bouger de fichier!!!*/

#mobile-nav {
  display: none;
  position: fixed;
  z-index: 9999;
}

#menu-buttons {
  position: fixed;
  top: 0;
  right: 0;
  color: #ffb8b8;
  font-size: 2em;
  width: 40px;
  margin: 15px 15px;
  text-align: center;
  z-index: 1;
}

#cross {
  display: none;
}

#menu {
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
height: 100%;
  position: fixed;
  z-index: 0;
  width: 100%;
  top: 0;
  left: 0;
}

#menu ul {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 50px 0px;
  vertical-align: middle;
}

#menu ul li {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#menu ul li:last-child {
  border-bottom: 0px;
}

#menu ul li a {
  color: #ffb8b8;
  text-decoration: none;
}
/* end mobile menu */

/* HOMEPAGE partie a totalement refaire avec bootstrap 
#homepage {
  bottom: 70px;
  position: absolute;
  display: block;
  left: 50%;
  width: 85%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}*/

body,
html {
  font-family: "Roboto", sans-serif;
  color: #292929;
  scroll-behavior: smooth;
  font-weight: 300;
  font-size: 18px;
  word-break: break-word;
}

/* ne pas deplacer dans l'index sinon plus de responsive pour plusieur elements */
.box2 {
  vertical-align: top;
  width: 755px;
}
.box2 h2 {
  padding-bottom: 25px;
}
.box2 p {
  padding: 10px 0px;
  line-height: 30px;
}

.box3 {
  display: none;
}

/* Realisations futur!! ne peux pas le deplacer conflit!!! */

.project {
  position: relative;
  width: 575px;
  height: 402px;
  background-color: white;
  margin-top: 40px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
}

.project:hover .overlay {
  height: 100%;
  transition: all 0.5s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-transition: all 0.5s;
}

.image-box {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 326px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.image-box:after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#cetolike .image-box {
  background-image: url("../images/cetolike.jpg");
}

#nature-vie .image-box {
  background-image: url("../images/nature-vie.jpg");
}

#iselection .image-box {
  background-image: url("../images/iselection-b2c.jpg");
}

#detoxssentiel .image-box {
  background-image: url("../images/detoxssentiel.jpg");
}
/* bandeau titre projet */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 76px;
  transition: 0.5s ease;
  -webkit-transition: all 0.5s;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.overlay .text {
  text-align: center;
  padding-top: 30px;
  height: 100%;
}

#projects ul.tags {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  color: white;
  margin-top: 25px;
}

#projects .tags li {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background-color: #ffb8b8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#projects ul.desc {
  margin: 20px 30px;
  height: 170px;
  font-size: 15px;
  line-height: 25px;
  text-align: left;
  overflow: auto;
}

#projects .desc li:before {
  content: "●";
  padding-right: 10px;
}

#projects button {
  margin: 0px;
  font-size: 15px;
  padding: 12px 30px;
  background-color: #2fdc9c;
}

#projects button i {
  padding-left: 15px;
}
/* end realisations  */

/* CONTACT */

.contact-subtitle {
  text-align: center;
  margin: 10px 0px 70px;
  line-height: 50px;
}

.contact-box {
  width: 30%;
  text-align: center;
  padding: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.contact-box .text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.contact-box i {
  font-size: 60px;
  padding-bottom: 30px;
}

.phone {
  background-color: #efe5f3;
  color: #9b59b6;
}

.email {
  background-color: #e0eff9;
  color: #3498db;
}

.meet {
  background-color: #dff7e9;
  color: #2ecc71;
  line-height: 25px;
}
.meet p {
  color: #707070;
  padding-top: 20px;
  line-height: 23px;
}
/* end contact */

/* FOOTER */

footer {
  background-image: url(../Images/fond-cv-vierge-13.jpeg);
  height: 100%;
  position: relative;
  background-attachment: fixed;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(13, 12, 12);
  font-size: 13px;
  text-align: center;
  padding: 25px;
  line-height: 20px;
}

footer i {
  font-size: 21px;
  margin: 0px 10px 15px;
  padding: 10px 0px;
  width: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  cursor: pointer;
  color: white;
  transition: 0.5s ease;
  -webkit-transition: all 0.5s;
}

footer i:hover {
  background-color: #292929;
  transition: 0.5s ease;
  -webkit-transition: all 0.5s;
}

footer .fa-linkedin-in {
  background-color: #007bb6;
}

footer .fa-github {
  background-color: #1c1e1f;
}

footer .fa-discord {
  background-color: #1c1e1f;
}

footer .fa-print {
  background-color: #007bb6;
}
/* end footer */

/* DEBUT WEB KIT  */

/* pour mettre en noir en mobile */
section {
  padding: 80px 0px 60px 0px;
  background-color: #e0ebf0;
}

@media screen and (max-width: 1023px) {
  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.5em;
  }

  section {
    padding-top: 40px;
    background-color: #181a1b;
  }

  .section-title {
    padding-bottom: 20px;
  }

  /* MENU */
  nav {
    display: none;
  }

  #mobile-nav {
    display: block;
  }

  #hamburger,
  #cross {
    cursor: pointer;
  }
  /* end menu */

  /* HOMEPAGE */
  /* .parallax-outer {
      height: 500px;
  } 
  
  #homepage {
    bottom: 0px;
  }*/
  p5 {
    color: #63e9b8;
    font-size: 20px;
  }
  /* pour changer la couleur taille bonjour.....  */
  #style { 
    color: rgb(182, 168, 168);
    
  }
  header {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  /* responsive */
  #header-text {
    font-size: 1em;
    line-height: 1.5em;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  /* end homepage */

  /* ABOUT */
  .item.box1 {
    display: none;
  }

  .box2 {
    width: 100%;
  }

  .box2 p {
    font-size: 0.9em;
    line-height: 1.6em;
  }


  .box3.img-container {
    float: left;
    width: 30%;
    margin-right: 20px;
  }

  .box3.about-list {
    line-height: 1.6em;
    font-size: 0.8em;
  }

  .box3 p.item {
    width: 60%;
    font-size: 0.8em;
    vertical-align: top;
    text-align: left;
    padding: 0px;
  }

  /* end about */

  /* SKILLS */
  #skills .c-item.icon {
    display: none;
  }

  .skill-box {
    font-size: 0.6em;
  }

  .skill-box i {
    font-size: 3em;
  }

  #skills .space-between {
    font-size: 0.87em;
  }

  #skills .item.stars {
    font-size: 0.65em;
  }

  #skills #environnement .item.desc.end {
    font-size: 0.85em;
    line-height: 2em;
  }
  /* end skills */

  /* CONTACT */
  .contact-subtitle {
    line-height: 1.5em;
  }

  .contact-subtitle .jobs {
    margin-top: 2em;
  }

  .item.contact-box.meet p {
    font-size: 0.8em;
  }
  /* end contact */
}

@media screen and (max-width: 1300px) {
  nav ul {
    width: auto;
    margin-right: 40px;
  }

  #homepage {
    width: 85%;
  }

  header {
    font-size: 33px;
  }

  .outer-container {
    max-width: 100%;
    justify-content: space-between;
  }

  .box1 {
    width: 30%;
  }

  .box2 {
    width: 65%;
  }

  .box2 p {
    font-size: 17px;
  }

  .project {
    width: 100%;
    height: 400px;
  }

  .contact-box .text {
    font-size: 16px;
  }
}

@media screen and (max-width: 1056px) {
  .contact-box .text {
    font-size: 0.75em;
  }
}

/* bloc avec avatar non responsive */
.item.box1 {
  display: none;
}

.box2 {
  width: 100%;
}

.box2 p {
  font-size: 0.9em;
  line-height: 1.6em;
}

.box3 {
  display: inline;
}

.box3.img-container {


   
  border: 4mm ridge rgba(255, 255, 255, 0.822);
  

  float: left;
  width: 30%;
  margin-right: 20px;
}

.box3.about-list {
  line-height: 1.6em;
  font-size: 0.8em;
}

.box3 p.item {
  width: 60%;
  font-size: 0.8em;
  vertical-align: top;
  text-align: left;
  padding: 0px;
}
/* end about */
/* pour la partir mcotact me en bas  */
@media screen and (max-width: 896px) {
  #contact .space-between .item {
    display: block;
    width: inherit;
    margin: 25px 0px;
  }

  #contact .contact-box .text {
    font-size: 1em;
  }

  #contact .item.contact-box.meet p {
    font-size: 1em;
  }
}

@media screen and (max-width: 800px) {
  /* EXPERIENCE */
  #timeline {
    margin-top: 0px;
  }

  #timeline::after {
    display: none;
  }

  .event .left {
    font-size: 0.42em;
    line-height: 1.5em;
    background-color: white;
    padding: 15px 0px;
    width: 75px;
    z-index: 99;
  }

  .event .right {
    margin-left: 90px;
    padding: 20px 0px;
  }

  .event .right::after {
    display: none;
  }

  .event .right .content {
    padding: 17px 20px 10px 20px;
    font-size: 0.7em;
  }

  .event h3 i {
    width: 30px;
  }

  .event h3 {
    font-size: 1.4em;
  }

  .event .place {
    font-size: 1em;
  }
  /* end experience */
}

@media screen and (max-width: 600px) {
  /* EXPERIENCE */
  #timeline .event .left {
    display: none;
  }

  #timeline .event .right {
    margin-left: 0px;
  }

  #timeline .event .right::before {
    display: none;
  }

  #timeline .event .right .date {
    display: block;
  }

  #timeline .event h3 {
    padding-bottom: 0px;
  }

  #timeline .event .place {
    padding-bottom: 15px;
  }
  /* end experience */
}

@media screen and (max-width: 561px) {
  #projects #iselection ul.desc {
    height: 150px;
  }
}

@media screen and (max-width: 387px) {
  header {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 376px) {
  #skills .space-between {
    font-size: 0.8em;
  }

  #skills .item.stars {
    font-size: 0.6em;
  }

  #projects ul.desc {
    height: 150px;
  }
}

@media only screen and (max-width: 1024px) {
  .parallax {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 1023px) {
  h1 {
    font-size: 1.6em;
  }

  h2 {
    font-size: 1.5em;
  }

  section {
    padding-top: 40px;
  }

  .section-title {
    padding-bottom: 20px;
  }

 


/* b {
  font-weight: 500;
} */

/* h1 {
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  margin: 15px 0px;
} */

/* 
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 35px;
  font-weight: 500;
} */

/* h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 600;
} */

/* h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
} */

/* button:hover {
  -webkit-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.25);
  box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.25);
  transition: .3s ease;
  -webkit-transition: all 0.3s;
} */












/* 
.under-title {
  height: 30px;
} */

/* #header-text {
  font-size: 25px;
  font-weight: 300;
  margin: 70px 0px 110px 0px;
  
}

header {
  font-size: 1.5em;
} */

/* .parallax-outer {
  height: 200vh;
} */

/* ne centre plus le texte dans la zone home rouge  */
/* header {
  font-family: 'Montserrat', sans-serif;
  color: rgb(223, 223, 223);
  font-size: 39px;
  font-weight: 300;  
} */

/* SKILLS */
/* #skills .c-item.icon {
  display: none;
}

.skill-box {
  font-size: 0.6em;
}

.skill-box i {
  font-size: 3em;
}

#skills .space-between {
  font-size: 0.87em;
}

#skills .item.stars {
  font-size: 0.65em;
}

#skills #environnement .item.desc.end {
  font-size: 0.85em;
  line-height: 2em;
} 
/* end skills */

/* 
.vimvixen-hint {
  background-color: #7b5300 !important;
  border-color: #d8b013 !important;
  color: #f3e8c8 !important;
}
::placeholder {
  opacity: 0.5 !important;
}
a[href="https://coinmarketcap.com/"] > svg[width="94"][height="16"] > path {
  fill: var(--darkreader-neutral-text) !important;
}
#edge-translate-panel-body,
.MuiTypography-body1 {
  color: var(--darkreader-neutral-text) !important;
}
gr-main-header {
  background-color: #0f3a48 !important;
}
embed[type="application/pdf"] { filter: invert(100%) contrast(90%); }
 */


